<html>
<head>
    <style>
        h2{
            color:blue;
        }
    </style>
</head> 
<body>
    <h2>Create New Menu Item For Restaurant: {{restaurant.name}}</h2>

    <form method='POST' enctype='multipart/form-data' 
        action='{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>
        <input name='newMenuItemName' type='text' placeholder="Menu Item Name">
        </br>
        <input name='newMenuItemPrice' type='text' placeholder="Menu Item Price">
        </br>
        <input name='newMenuItemDescription' type='text' placeholder="Menu Item Description">
        </br>
        <input type='submit' value='Create'>
    </form>

</body>

</html>