<html>

<head>
    <link rel="stylesheet" href='{{url_for('static', filename = 'styles.css')}}'>
</head>

<body>
    <h1>Here's a delicious menu for restaurant: {{restaurant.name}} </h1>
    <span class="flash">
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            {% for m in messages%}
            <h5>
                {{m}}
            </h5>
            {% endfor %}
            {% endif %}
            {% endwith %}
    </span>
    
    <a href='{{url_for('AddMenuItemToRestaurant', restaurant_id = restaurant.id)}}'>Add new menu Item to this restaurant</a>
    {% for m in menu_items%}
    <p>{{m.name}}</p>
    <p>{{m.price}}</p>
    <p>{{m.course}}</p>
    <p>{{m.description}}</p>
    <p>{{m.id}}</p>
    <a href='{{url_for('EditMenuItem', restaurant_id = restaurant.id, menu_item_id = m.id)}}'>Edit</a>
    <a href='{{url_for('DeleteMenuItem', restaurant_id = restaurant.id, menu_item_id = m.id)}}'>Delete</a>
    <hr> {% endfor %}
</body>

</html>