<h1>You are adding a new Menu Item to Restaurant : {{restaurant.name}} Yummy!</h1>
<form method="POST" enctype='multipart/form-data' 
    action='{{url_for('AddMenuItemToRestaurant', restaurant_id = restaurant.id)}}'>
    <input type="text" placeholder="What's the name of our new item?" name="newMenuItemName">
    </br>
    <input type="text" placeholder="$$$$ How much $$$$?" name="newMenuItemPrice">
    </br>
    <input type="text" placeholder="Paint a word picture for me will ya?" name="newMenuItemDescription">
    </br>
    <input type="text" placeholder="What's the course of action??" name="newMenuItemCourse">
    </br>
    <input type="submit" name="Create New Food!">
</form>